.u-section-1 .u-sheet-1 {
  min-height: 835px;
}

.u-section-1 .u-post-details-1 {
  min-height: 754px;
  margin-top: 60px;
  margin-bottom: 39px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#425465, #cc7c50);
  margin: 15px 0 0 auto;
  padding: 3px 0;
}

.u-section-1 .u-image-1 {
  height: 486px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 22px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#cc7c50, #404040);
  border-style: solid;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -54px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}Welcome to the official website for our innovative project, Innovating Player Choice with AI Empowerment in Story-Based Games.